PORT=3010
META_WEBHOOK_VERIFY_TOKEN=
FB_GRAPH_VERSION=v25.0
FB_PAGE_ID=
FB_PAGE_ACCESS_TOKEN=
IG_GRAPH_VERSION=v25.0
IG_BUSINESS_ID=
IG_BUSINESS_ACCESS_TOKEN=
DEFAULT_MEDIA_ID=
# DEFAULT_REPLY_TEXT and rule reply_text/public_reply_text support:
# {{username}}, {{keyword}}, {{comment_text}}, {{media_id}}, {{comment_id}}, {{resource_url}}
DEFAULT_KEYWORD=
DEFAULT_REPLY_TEXT=
SQLITE_PATH=./data/instagram_auto_dm.sqlite
POLLING_ENABLED=false
POLLING_INTERVAL_SECONDS=60
PUBLIC_COMMENT_REPLY_ENABLED=false
PUBLIC_COMMENT_REPLY_TEXT=DM으로 보내드렸어요!
